.list__element {
    display: inline-block;
    width: 100%;
    transition-property: background-color;
    transition-duration: 500ms;

    &:hover {
        background-color: $black;

        .list__link {
            color: $activeColor;
        }
    }
}

.list__element--active {
    background-color: $black;

    .list__link {
        color: $activeColor;
    }
}

.list__link {
    display: block;
    margin: 0;
    font-size: 1.3em;
    color: $primary;
    text-decoration: none;
    text-transform: uppercase;
    padding-left: 1.5em;
    padding-top: 1em;
    padding-bottom: 1em;
    transition-property: color;
    transition-duration: 500ms;

}

@media (max-width: 768px) {
    .list__link {
        font-size: 1em;
    }
}
